@page "/build"
@inject IPointService PointService
@inject IUnitService UnitService
@inject IToastService ToastService
@attribute [Authorize]

<h3>Build</h3>

<div class="form-group">
    <select @bind="selectedUnitId" class="form-control">
        @foreach(var unit in UnitService.Units)
        {
           <option value="@unit.Id">@unit.Title // @unit.PointCost Points</option> 
        };
    </select>
</div>
<div>
<button class="btn btn-primary" @onclick="BuildUnit">Build selected unit</button>
    @if (needMorePoints)
    {
        <div class="validation-message">
            Not enough Points
        </div>
    }
</div>

@code {
    int selectedUnitId = 1;
    bool needMorePoints = false;

    protected override async Task OnInitializedAsync()
    {
        await UnitService.LoadUnitsAsync();
    }

    public void BuildUnit()
    {
        var selectedUnit = UnitService.Units.First(x => x.Id == selectedUnitId);

        if(PointService.Points < selectedUnit.PointCost)
        {
            needMorePoints = true;
            ToastService.ShowError("Not enough points", "QQ");
            return;
        }

        needMorePoints = false;

        PointService.SpendPoints(selectedUnit.PointCost); 
        UnitService.AddUnit(selectedUnitId);
    }


}
