@page "/counter"
@using BlazorStack.Client.Services.Notification
@inject INotificationService NotificationService

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<NotificationsCount Count="@currentCount" ResetCount="ResetCount"></NotificationsCount>

<p>@notificationContent</p>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
