@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>
<NotificationsCount Count="@currentCount"></NotificationsCount>
<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
