@page "/"

<AuthorizeView>
    <Authorized>
        <h1>Hi @context?.User?.Identity?.Name</h1>
        Check your <a href="army"> amazing army.</a>
    </Authorized>
    <NotAuthorized>
        <h1>Blazor Stack learning</h1>
        <Login></Login>
    </NotAuthorized>
</AuthorizeView>

