@inject IPointService PointService
@implements IDisposable

<AuthorizeView>
    <Authorized>
    <div class="top-menu">
        <span class="popover-header">Points: @PointService.Points</span>
        <AddPoints />
    </div>
    </Authorized>
    <NotAuthorized>
        <div>
            <NavLink href="">Login</NavLink>
            <NavLink href="register">Register</NavLink>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code {
    protected override void OnInitialized()
    {
        //subscribe
        PointService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        //unsubscribe
        PointService.OnChange -= StateHasChanged;
    }
}
